@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  max-width: 800px;
  margin: auto;
}

.flex {
  color: #808080;
  display: flex;
  justify-content: space-between;
}

.price {
  color: #000000;
  font-family: $krub;
  font-size: ($base-size * 2);
  margin: 30px;

  span {
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .flex {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (max-width: 499px) {
  .flex {
    flex-flow: row wrap;
    justify-content: center;
  }
}
