$base-size: 12px;

$base-shadow: 0px 1px 12px 7px rgba(0, 0, 0, 0.4);

$kodchasan: 'Kodchasan', sans-serif;
$koho: 'KoHo', sans-serif;
$krub: 'Krub', sans-serif;

$base-color: #1a237e;
$lighter-color: #c5cae9;
$almost-white-color: #e8eaf6;
