@import '../../../styles/settings.scss';

.component {
  position: relative;
  top: 60px;
  height: 70vw;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.title {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: ($base-size * 5);
  font-family: $kodchasan;
  color: $almost-white-color;
  transform: translate(-50%, -50%);
}

.image {
  position: absolute;
  width: 100%;
  height: inherit;
  object-fit: contain;
}

@media (max-width: 499px) {
  .title {
    font-size: ($base-size);
  }
  .component {
    top: 60px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: ($base-size * 2);
  }
  .component {
    top: 40px;
  }
}
@media (max-width: 991px) {
  .title {
    font-size: ($base-size * 4);
  }
}

@media (max-width: 1250px) {
  .component {
    top: 30px;
  }
}
@media (min-width: 1251px) {
  .component {
    top: 0;
  }
}
