@import '../../../styles/settings.scss';

.component {
  position: relative;
  height: 800px;
  width: 1280px;
}

.title {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: ($base-size * 5);
  font-family: $kodchasan;
  color: $almost-white-color;
  transform: translate(-50%, -50%);
}

.image {
  position: absolute;
  // top: 0;
  // left: 0;
  width: inherit;
  object-fit: contain;
}
