@import '../../../styles/settings.scss';

.component {
  position: relative;
  width: 1280px;
  // overflow: hidden;
}

.title {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: ($base-size * 5);
  text-transform: uppercase;
  // color: $color-light;
  transform: translate(-50%, -50%);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 100%;
  object-fit: cover;
}
