@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.link {
  border: black solid 2px;
  margin: 30px 20px 30px 0;
  box-shadow: $base-shadow;

  &:hover {
    background-color: #130f40;
    color: #fff;
  }
}
