@import '../../../styles/settings.scss';

.slider {
  width: 500px;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .slider {
    width: 400px;
    margin-right: 10px;
  }
}

@media (max-width: 499px) {
  .slider {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .slider {
    width: 250px;
  }
}

@media (max-width: 250px) {
  .slider {
    width: 150px;
  }
}
