@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.statistics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: $lighter-color;
  box-shadow: $base-shadow;
}

.relative {
  position: relative;
  height: 180px;
  margin: 10px 0 20px;
}

.text {
  font-size: 20px;
  text-align: center;
  span {
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .statistics {
    width: 50vw;
  }
}
@media (max-width: 499px) {
  .statistics {
    width: 80vw;
  }
}
