@import '../../../styles/settings.scss';

.footer {
  position: relative;
  background-color: $base-color;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}

p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $almost-white-color;
  font-family: $kodchasan;
  text-align: center;
}
